.form_wrapper {
    padding-top: 30px;
    height: 100%;
    max-width: 393px;
}

.or_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    position: relative;
}
.hr {
    border: 0.7px solid var(--color-muted);
    border-bottom: none;
    width: 100%;
}
.or_panel {
    background: var(--bg-general);
    color: var(--color-muted);
    padding: 0 14px;
    position: absolute;
}
