/* custom structure */
.modal_heading {
  background: var(--modal-content-bg);
  position: sticky;
  top: 0;
  left: 0;
  padding: var(--modal-buttons-padding);
  width: 100%;
}
.modal_paddings {
  padding-left: var(--modal-side-padding);
  padding-right: var(--modal-side-padding);
}
