.day {
  display:block;
  height: max-content;
  width:100%;
  height: 100%;
  padding: 10% 15%;
  user-select: none;
}

.available {
  color: var(--calendar-day-available-color);
  background: var(--calendar-day-available-bg);
}
.not_available {
  color: var(--calendar-day-not-available-color);
  background: var(--calendar-day-not-available-bg);
}
.another_month {
  background: var(--calendar-day-another-month-bg);
}
