.form {
  width: 100%;
}
.settings_block {
  display: flex;
  flex-direction: column;
}
.settings_block:not(:last-child) {
  margin-bottom: 12px;
}

.user_picture_preview {
  border-radius: 500px;
  width: 200px;
  height: 200px;
  flex-shrink: 1;
  object-fit: cover;
}

/* @media screen and (min-width: 0) and (max-width: 480px) {
  .user_picture_preview {
    width: 100%;
  }
} */
