.user_picture {
  border-radius: 100%;
  flex-shrink: 1;
  object-fit: cover;
}
.plug_user_picture {
  fill: var(--color);
  width: var(--user-picture-big-size);
  height: var(--user-picture-big-size);
}

/* picture dizes */
.user-picture-size.little {
  width: var(--user-picture-little-size);
  height: var(--user-picture-little-size);
}
.user-picture-size.middle {
  width: var(--user-picture-middle-size);
  height: var(--user-picture-middle-size);
}
.user-picture-size.big {
  width: var(--user-picture-big-size);
  height: var(--user-picture-big-size);
}



/* XXL / Extra extra large */
@media only screen and (min-width: 1401px) {
  * {
    --user-picture-little-size: 33px;
    --user-picture-middle-size: 70px;
    --user-picture-big-size: 120px;
  }
}

/* XL / Extra large */
@media only screen and (max-width: 1400px) {
  * {
    --user-picture-little-size: 33px;
    --user-picture-middle-size: 70px;
    --user-picture-big-size: 120px;
  }
}

/* LG / Large */
@media only screen and (max-width: 1200px) {
}

/* MD / Medium */
@media only screen and (max-width: 992px) {
}

/* SM / little */
@media only screen and (max-width: 768px) {
}

/* XS / Extra little */
@media only screen and (min-width: 0px) and (max-width: 480px) {
  * {
    --user-picture-little-size: 33px;
    --user-picture-middle-size: 60px;
    --user-picture-big-size: 100px;
  }
}